<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>博客详情</title>

    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--引入样式文件-->
    <!--<link rel="stylesheet" href="css/style.css" th:href="@{/admin/lib/editmd/css/style.css}"/>-->
    <link rel="stylesheet" href="css/editormd.preview.css" th:href="@{/admin/lib/editmd/css/editormd.preview.css}"/>

    <!--引入js文件-->
    <script src="js/jquery-1.10.2.min.js" th:src="@{/admin/lib/editmd/jquery.min.js}"></script>
    <script src="js/editor/marked.min.js" th:src="@{/admin/lib/editmd/marked.min.js}"></script>
    <script src="js/editor/prettify.min.js" th:src="@{/admin/lib/editmd/prettify.min.js}"></script>
    <script src="js/editor/raphael.min.js" th:src="@{/admin/lib/editmd/raphael.min.js}"></script>
    <script src="js/editor/underscore.min.js" th:src="@{/admin/lib/editmd/underscore.min.js}"></script>
    <script src="js/editor/sequence-diagram.min.js"  th:src="@{/admin/lib/editmd/sequence-diagram.min.js}"></script>
    <script src="js/editor/flowchart.min.js" th:src="@{/admin/lib/editmd/flowchart.min.js}"></script>
    <script src="js/editor/jquery.flowchart.min.js" th:src="@{/admin/lib/editmd/jquery.flowchart.min.js}"></script>
    <script src="js/editor/editormd.js" th:src="@{/admin/lib/editmd/editormd.js}"></script>

    <!-- css -->
    <link rel="stylesheet" href="../static/blog/css/bootstrap.min.css" th:href="@{/blog/css/bootstrap.min.css}">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="../static/blog/css/pace.css" th:href="@{/blog/css/pace.css}">
    <link rel="stylesheet" href="../static/blog/css/custom.css" th:href="@{/blog/css/custom.css}">

</head>

<body id="single">
    <!--头部-->
    <div class="container" th:replace="_fragments :: menu">
    </div>


    <div class="content-body">
        <div class="container">
            <div class="row">
                <main class="col-md-8">
                    <article class="post post-1">
                        <header class="entry-header">
                            <h1 class="entry-title"><strong  th:text="${blog.title}"></strong></h1>
                            <div class="entry-meta">
                                <span class="post-category text-primary">文章类型：<a href="#" th:text="${blog.type.name}"></a>&nbsp</span>

                                <span class="post-date text-primary">发布日期：<a href="#" th:text="${#dates.format(blog.createTime,'yyyy-MM-dd')}"></a>&nbsp</span>

                                <span class="views-count text-primary">阅读量：<a href="" th:text="${blog.views}"></a>&nbsp</span>
                            </div>
                        </header>
                        <textarea id="demo1" th:text="${blog.content}" hidden></textarea>
                        <div class="entry-content clearfix" id="testEditorMdview">
                            <textarea id="appendTest" style="display:none;"></textarea>
                        </div>
                    </article>
                    <section class="comment-area" id="comment-area">
                        <hr>
                        <h3>发表评论</h3>
                        <form action="#" th:action="@{/comments}" method="post" class="comment-form">
                            <input type="hidden" name="blogId" value="" th:value="${blog.id}">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="id_name">名字：</label>
                                    <input type="text" id="id_name" name="nickName" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="id_email">邮箱：</label>
                                    <input type="email" id="id_email" name="email" required>
                                </div>

                                <div class="col-md-12">
                                    <label for="id_comment">评论：</label>
                                    <textarea name="content" id="id_comment" required></textarea>
                                    <button type="submit" class="comment-btn">发表</button>
                                </div>
                            </div>    <!-- row -->
                        </form>


                        <!--评论列表-->
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion"
                                           href="#collapseOne">
                                            <h3>评论列表，共 <span th:text="${#lists.size(comments)}">4</span> 条评论（点击展开）</h3>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="comment-list list-unstyled">
                                            <li class="comment-item" th:each="comment:${comments}">
                                                <span class="nickname" th:text="${comment.nickName}">追梦人物</span>
                                                <time class="submit-date" th:text="${#dates.format(comment.createTime,'yyyy-MM-dd')}">2017年3月12日 14:56</time>
                                                <div class="text">
                                                    <p th:text="${comment.content}"></p>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </section>
                </main>
                <aside class="col-md-4 sidebar">
                    <div class="widget widget-recent-posts">
                        <h3 class="widget-title">最新文章</h3>
                        <ul>
                            <li th:each="newBlog:${fourBlogList}">
                                <a href="#" th:href="@{/detail/{id}(id=${newBlog.id})}" th:text="${newBlog.title}"></a>
                            </li>
                        </ul>
                    </div>

                    <div class="widget widget-category">
                        <h3 class="widget-title">分类</h3>
                        <ul>
                            <li th:each="type:${types}">
                                <a href="#" th:href="@{/type/{id}(id=${type.id})}" th:text="${type.name}"></a>
                            </li>
                        </ul>
                    </div>

                    <div class="widget widget-tag-cloud">
                        <h3 class="widget-title">标签云</h3>
                        <ul>
                            <li th:each="tag:${tags}">
                                <a href="#" th:href="@{/tag/{id}(id=${tag.id})}" th:text="${tag.name}"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="rss">
                        <a href=""><span class="ion-social-rss-outline"></span> RSS 订阅</a>
                    </div>
                </aside>
            </div>
        </div>
    </div>


    <!--底部-->
    <footer id="site-footer" th:replace="_fragments :: footer">
    </footer>

    <!-- Mobile Menu -->
    <div class="overlay overlay-hugeinc" th:replace="_fragments :: mobile">
    </div>

    <!--/*/<th:block th:replace="_fragments :: script">/*/-->
    <!-- js -->
    <script src="../../static/blog/js/script.js"  th:src="@{/blog/js/script.js}"></script>
    <script src="../../static/blog/js/jquery-2.1.3.min.js"></script>
    <script src="../../static/blog/js/bootstrap.min.js" ></script>
    <script src="../../static/blog/js/pace.min.js" ></script>
    <script src="../../static/blog/js/modernizr.custom.js"></script>
    <!--/*/</th:block>/*/-->

    <script type="text/javascript">

        $(function(){
            //先对容器初始化，在需要展示的容器中创建textarea隐藏标签，必须是动态创建
            $("#testEditorMdview").html('<textarea id="appendTest" style="display:none;"></textarea>');
            var content=$("#demo1").val();//获取需要转换的内容
            $("#appendTest").val(content);//将需要转换的内容加到转换后展示容器的textarea隐藏标签中

            //转换开始,第一个参数是上面的div的id
            editormd.markdownToHTML("testEditorMdview", {
                htmlDecode: "style,script,iframe", //可以过滤标签解码
                emoji: true,
                taskList:true,
                tex: true,               // 默认不解析
                flowChart:true,         // 默认不解析
                sequenceDiagram:true,  // 默认不解析
            });
        });


    </script>

</body>
</html>
