<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head th:insert="_fragments2 :: css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
<!--     <link rel="icon" href="../../../../favicon.ico"> -->

    <title>标签管理</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/admin/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/admin/css/dashboard.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow" th:replace="_fragments2 :: menu">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">admin</a>      
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sign out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar" th:replace="_fragments2 :: aside">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="admin-index.html">
                  <span data-feather="home"></span>
                  主页 <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="admin-user.html">
                  <span data-feather="file"></span>
                  个人管理
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="admin-category.html">
                  <span data-feather="file"></span>
                  类别管理
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="admin-label.html">
                  <span data-feather="file"></span>
                  标签管理
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="admin-blog.html">
                  <span data-feather="file"></span>
                  博客管理
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="admin-announcement.html">
                  <span data-feather="file"></span>
                  公告管理
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="admin-animation.html">
                  <span data-feather="file"></span>
                  动漫管理
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="admin-carte.html">
                  <span data-feather="file"></span>
                  名片管理
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="admin-comment.html">
                  <span data-feather="file"></span>
                  评论管理
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="admin-message.html">
                  <span data-feather="file"></span>
                  消息管理
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">标签管理</h1>
          </div>
          
          <p><a href="#" th:href="@{/admin/label/edit}"><button type="button" class="btn btn-lg btn-dark">新增标签</button></a></p>
          <div class="alert alert-success alert-dismissible" th:unless="${#strings.isEmpty(message)}">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong th:text="${message}"></strong>
          </div>
          <div class="table-responsive">
            <table class="table" style="text-align:center">
              <thead>
                <tr>
                  <th>编号</th>
                  <th>标签名称</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="tag,iterStat:${pageInfo.list}">
                  <td th:text="${iterStat.count}"></td>
                  <td th:text="${tag.name}"></td>
                  <th>
                    <button type="button" class="btn btn-sm btn-default">编辑</button>
                    <button type="button" class="btn btn-sm btn-dark"><a class="text-muted" th:href="@{/admin/label/{id}/delete(id=${tag.id})}">删除</a></button>
                  </th>
                </tr>

              </tbody>
            </table>
          </div>
            <br>
            <br>
            <br>
            <br>
            <div aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" th:if="${not pageInfo.isFirstPage}"><a class="page-link" href="#" th:href="@{/admin/label(page=${pageInfo.pageNum-1},size=${pageInfo.pageSize})}">Previous</a></li>
                    <li class="page-item" th:if="${pageInfo.isFirstPage}"><a class="page-link" href="javascript:alert('已经是最前面一页啦！');">Previous</a></li>

                    <li class="page-item" th:each="count:${#numbers.sequence(1, pageInfo.pages)}">
                        <a class="page-link bg-primary text-white" href="#"  th:if="${count==pageInfo.pageNum}" th:href="@{/admin/label(page=${count},size=${pageInfo.pageSize})}" th:text="${count}"></a>
                        <a class="page-link" href="#"  th:if="${count!=pageInfo.pageNum}" th:href="@{/admin/label(page=${count},size=${pageInfo.pageSize})}" th:text="${count}"></a>
                    </li>

                    <li class="page-item" th:if="${not pageInfo.isLastPage}"><a class="page-link" href="#" th:href="@{/admin/label(page=${pageInfo.pageNum+1},size=${pageInfo.pageSize})}">Next</a></li>
                    <li class="page-item" th:if="${pageInfo.isLastPage}"><a class="page-link" href="javascript:alert('已经是最后面一页啦！');">Next</a></li>

                </ul>
            </div>
        </main>
      </div>
    </div>

    <!--/*/<th:block th:replace="_fragments2 :: script">/*/-->
    <script src="../../static/admin/js/jquery-3.3.1.slim.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../static/admin/js/jquery-slim.min.js"><\/script>')</script>
    <script src="../../static/admin/js/popper.min.js"></script>
    <script src="../../static/admin/js/bootstrap.min.js"></script>
    <script src="../../static/admin/js/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
    <script src="../../static/admin/lib/editmd/jquery.min.js"></script>
    <script src="../../static/admin/lib/editmd/editormd.js"></script>
    <!--/*/</th:block>/*/-->

  </body>
</html>
