<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head th:replace="_fragments2 :: head(~{::title})">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>admin-login</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/admin/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/admin/css/signin.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-signin" method="post" action="#" th:action="@{/admin/login}">
      <h1 style="margin-bottom: 50px">Code &amp; Blogs</h1>
      <label for="inputUsername" class="sr-only">Username</label>
      <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-dark btn-block" type="submit">登 陆</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2020 ThemeWagon.com</p>
      <div class="bg-warning text-white" ><h3 th:if="${not #strings.isEmpty(message)}" th:text="${message}"></h3></div>
    </form>
  </body>
</html>
